.navbar {
  background-color: $color-cool-dark;
  text-decoration: none;
  position: sticky;
  height: 6rem;;
  width: 100vw;
  display: flex;

  .logo {
    margin-left: 50%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-50%);
    color: $color-text-light;
    font-family: $font-logo;
    font-size: 4rem;
  }
}