.question-builder__input {
  display: grid;
  grid-template-columns: 1fr 4fr 1rem 8fr 1fr 1fr 1fr;
  align-items: center;
  padding: .3rem;

  label {
    grid-column: 2 / 3;
    text-align: right;
  }
  
  input {
    grid-column: 4 / -2;
    border: none;
    border-bottom: solid $color-tertiary .2rem;
    padding: .7rem;

    &:focus {
      border: none;
      border-bottom: solid $color-alert .3rem;
      outline: none;
      transition: all .2s;
    }
  }

  select {
    grid-column: 4 / -2;
    border: none;
    border-bottom: solid $color-tertiary .2rem;
    padding: .7rem;

    &:focus {
      border: none;
      border-bottom: solid $color-alert .3rem;
      outline: none;
      transition: all .2s;
    }
  }
}

.question-builder__select {
  display: grid;
  grid-template-columns: 1fr 4fr 1rem 8fr 1fr 1fr 1fr;
  align-items: center;
  padding: .3rem;

  input {
    grid-column: 4 / -4;
    border: none;
    border-bottom: solid $color-tertiary .2rem;
    padding: .7rem;

    &:focus {
      border: none;
      border-bottom: solid $color-alert .3rem;
      outline: none;
      transition: all .2s;
    }
  }

  label {
    grid-column: 2 / 3;
    text-align: right;
    font-size: 1.5rem;
  }
}