.question-builder__input {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  align-items: center;
  padding: .3rem;

  label {
    text-align: right;
  }
  
  input {
    border: none;
    border-bottom: solid $color-tertiary .2rem;
    padding: .7rem;
  }
      
  // .answers {
    
  // }

  // .select {

  //   label input {
      
  //   }
  // }
  
  // .add {
  //   grid-column: 10 / 11;
  //   align-self: stretch;
  // }
  
  // .remove {
  //   grid-column: 11 / 12;
  //   align-self: stretch;
  // }

  // .dropdown {
  //   grid-column: 5 / 12;
  // }
}