#create-quiz .modal-container{
  display: none;
}

#details .modal {
  background-color: rgba($color-text-dark, 0.5);
  height: 90vh;
  width: 100vw;
}

.create-quiz__details {
  background-color: $color-secondary;
  padding: 1rem 2.5rem 0;

  p {
    display: inline-block;
    padding-right: 1rem;
    color: $color-text-dark;
    font-size: 2rem;
    font-family: $font-main;
  }

  input {
    background-color: $color-secondary;
    border: none;
    border-bottom: solid .2rem $color-primary;
    width: 67%;
    color: darken($color-primary, 20%);
    font-size: 2rem;

    &:focus {
      border: none;
      border-bottom: solid $color-cool-mid .3rem;
      outline: none;
      transition: all .2s;
    }
  }
}