// import abstracts
@import "abstracts/mixins";
@import "abstracts/variables";

// import base
@import "base/animations";
@import "base/base";
@import "base/typography";

// import components
@import "components/buttons";
@import "components/forminput";
@import "components/modal";

// import layouts
@import "layouts/navbar";
@import "layouts/createQuiz";
@import "layouts/createQuestionForm";
@import "layouts/quizCard";
@import "layouts/quizList";
@import "layouts/viewQuiz";
@import "layouts/multipleChoicePreview";
@import "layouts/quizPrevew";

// import pages
@import "pages/create_question";