*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 80%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    background: repeating-linear-gradient(
        45deg,
        lighten($color-primary, 40%),
        lighten($color-primary, 40%) 10px,
        lighten($color-secondary, 13%) 10px,
        lighten($color-secondary, 13%) 20px,
    )
}