* {
  font-family: Arial, Helvetica, sans-serif;
}

.question-builder {
  
  
  &__input {
    font-size: 1.6rem;

    label {
      color: $color-text-dark;
    }
    
    input {
      
    }
        
    .answers {
      
    }
  }
}