.create-quiz {
  display: grid;
  grid-template-columns: 3rem [full-start] 1fr [mid] 1fr [full-end] 3rem;
  grid-template-rows: 7rem 1fr;

  &__details {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    border-radius: 0 0 2rem 2rem;
    align-self: stretch;
    display: flex;
    
    p, input, button {
      align-self: center;
      margin-bottom: 1.4rem;
    }
  }

  &__create-question-form {
    grid-column: full-start / mid;
    grid-row: 2;
    margin: 2.5rem 1rem 2.5rem 0;
  }

  &__quiz-preview {
    grid-column: mid / full-end;
    grid-row: 2;
    margin: 2.5rem 0 2.5rem 1rem;
    border-radius: 2rem;

    h3 {
      color: $color-cool-dark;
      font-family: $font-main;
      font-weight: 100;
      font-size: 2rem;
      padding: 3rem 0 .4rem 3rem;
      
    }
  }
}