.question-builder {
  background-color: $color-secondary;

  h3 {
    color: $color-cool-dark;
    font-family: $font-main;
    font-weight: 100;
    font-size: 2rem;
    padding: 1rem 0 .4rem 3rem;
  }
}