.multiple-choice-preview {
  margin: 2rem 3rem;

  &__question {
    padding-bottom: 1rem;
  }

  &__options {
    padding-bottom: 1rem;

    .radio-button {
      border: .1rem solid black;
      padding: 0 1.1rem;
      width: 1rem;
      height: 0.5rem;
      border-radius: 50%;
    }
    
    input[type="radio"] {
      padding-right: 1rem;
    }

    label {
      padding-left: 1rem;
      font-size: 1.5rem;
    }
  }
}