.navbar {
  // background-image: linear-gradient(to right, #fff, $color-warm-mid);
  background-color: $color-cool-light;
  text-decoration: none;
  color: $color-text-dark;
  position: sticky;
  height: 6rem;;
  width: 100vw;
  display: flex;

  .logo {
    margin-right: auto;
    height: fit-content;
  }

  ul {
    display: flex;
    margin-left: auto;
    align-items: stretch;

    li {
      list-style: none;
      border: .2rem dashed blue;

      a {
        padding: 3rem;
        text-decoration: none;
        font-family: $font-main;
        font-weight: 400;
        font-size: 1.5rem;
        border: .2rem dashed red;

        &:visited {
          color: $color-text-light
        }
      }

      &:hover {
        background-color: $color-warm-dark;
        color: $color-warm-light;
        transition: all .2s;
      }
    }
  }
}