.navbar {
  background-color: $color-primary;
  text-decoration: none;
  color: $color-text-light;
  position: fixed;
  transform: translateY(-3rem) translateX(-3rem);
  width: 100%;
  
  ul {
    display: flex;

    li {
      padding: 3rem;
      list-style: none;

      a {
        text-decoration: none;
        font-family: $font-main;
        font-weight: 400;
        font-size: 1.5rem;

        &:visited {
          color: $color-text-light
        }
      }

      &:hover {
        background-color: $color-warm-dark;
        color: $color-warm-light;
        transition: all .2s;
      }
    }
  }
}