.navbar {
  background-image: linear-gradient(to right, #fff, $color-warm-mid);
  text-decoration: none;
  color: $color-text-light;
  position: sticky;
  // transform: translateY(-3rem) translateX(-3rem);
  width: 100vw;
  display: flex;

  .logo {
    margin-right: auto;
    height: fit-content;
  }

  ul {
    display: flex;
    margin-left: auto;

    li {
      padding: 3rem;
      list-style: none;

      a {
        text-decoration: none;
        font-family: $font-main;
        font-weight: 400;
        font-size: 1.5rem;

        &:visited {
          color: $color-text-light
        }
      }

      &:hover {
        background-color: $color-warm-dark;
        color: $color-warm-light;
        transition: all .2s;
      }
    }
  }
}