.quiz-card {
  display: block;
  border: solid 1px $color-secondary;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px $color-text-light;
  padding: 2rem;
  width: 70%;
  margin: 2rem auto;
  background-color: rgba(lighten($color-warm-light, 20%),0.8); 
  text-decoration: none;
  transition: all 0.2s;

  &:hover{
    transform: scale(1.03);
  }

  h3 {
    font-family: $font-main;
    font-size: 2rem;
    padding-bottom: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $color-cool-dark;
  }

  p {
    font-family: $font-main;
    font-size: 1.5rem;
    padding-bottom: .3rem;
    letter-spacing: .1rem;
    color: $color-text-dark;
  }
}