.do-quiz {
  margin: 3rem;
  border: .1rem solid black;
  font-size: 1.8rem;

  .quiz-question {
    border: .1rem solid black;
    padding: 2rem;
    margin: 2rem;
    display: flex;

    .question-number {
      padding-right: 1rem;
      font-size: 6rem;
      color: darken($color-text-light, 20%);
    }
  }
}