@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Kalam:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 80%; }

body {
  background: repeating-linear-gradient(45deg, #fdfefe, #fdfefe 10px, #edf7fd 10px, #edf7fd 20px); }

* {
  font-family: "B612"; }

.submit {
  border: none;
  transition: all .2s;
  background-color: #c92a2a;
  border-radius: 1rem;
  color: #ECECEC; }
  .submit:hover {
    background-color: #e67700;
    cursor: pointer; }

.add {
  border: none;
  transition: all .2s;
  background-color: #5c940d;
  color: #ECECEC;
  font-size: 2rem;
  margin: 0 0.15rem 0 0.3rem;
  border-radius: 0.5rem; }
  .add:hover {
    background-color: #67a60f;
    cursor: pointer; }

.remove {
  border: none;
  transition: all .2s;
  background-color: #c92a2a;
  color: #ECECEC;
  font-size: 2rem;
  margin: 0 0.3rem 0 0.15rem;
  border-radius: 0.5rem; }
  .remove:hover {
    background-color: #e67700;
    cursor: pointer; }

.create-quiz-submit {
  border: none;
  transition: all .2s;
  font-size: 1.6rem;
  background-color: #087f5b;
  padding: 1rem;
  color: #ECECEC;
  margin-left: 1rem;
  width: 24%;
  border-radius: 1rem; }
  .create-quiz-submit:hover {
    background-color: #5c940d; }

.question-builder__input {
  display: grid;
  grid-template-columns: 1fr 4fr 1rem 8fr 1fr 1fr 1fr;
  align-items: center;
  padding: .3rem; }
  .question-builder__input label {
    grid-column: 2 / 3;
    text-align: right;
    font-size: 1.5rem; }
  .question-builder__input input {
    grid-column: 4 / -2;
    border: none;
    border-bottom: solid #5DA2D2 0.2rem;
    padding: .5rem;
    font-size: 1.4rem; }
    .question-builder__input input:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }
  .question-builder__input select {
    grid-column: 4 / -2;
    border: none;
    border-bottom: solid #5DA2D2 0.2rem;
    padding: .5rem;
    font-size: 1.4rem; }
    .question-builder__input select:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }

.question-builder__select {
  display: grid;
  grid-template-columns: 1fr 4fr 1rem 8fr 1fr 1fr 1fr;
  align-items: center;
  padding: .3rem; }
  .question-builder__select input {
    grid-column: 4 / -4;
    border: none;
    border-bottom: solid #5DA2D2 0.2rem;
    padding: .7rem;
    font-size: 1.4rem; }
    .question-builder__select input:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }
  .question-builder__select label {
    grid-column: 2 / 3;
    text-align: right;
    font-size: 1.5rem; }
  .question-builder__select button {
    align-self: stretch; }

.create-quiz__details {
  background-color: #b1dbf7; }
  .create-quiz__details p {
    font-size: 2rem;
    padding: 0 1rem 0 2rem; }
  .create-quiz__details input {
    width: 61%;
    border: none;
    border-bottom: solid #5DA2D2 0.2rem;
    padding: .8rem 0.5rem;
    font-size: 1.4rem;
    background-color: #b1dbf7; }
    .create-quiz__details input:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }

.navbar {
  background-color: #087f5b;
  text-decoration: none;
  position: sticky;
  height: 6rem;
  width: 100vw;
  display: flex; }
  .navbar .logo {
    margin-left: 50%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-50%);
    color: #ECECEC;
    font-family: "Patua One";
    font-size: 4rem; }
    .navbar .logo img {
      height: 100%; }
  .navbar ul {
    display: flex;
    margin-left: auto;
    align-items: stretch; }
    .navbar ul li {
      list-style: none;
      display: flex;
      align-items: stretch;
      margin-right: 3rem; }
      .navbar ul li a {
        padding: 0 3rem;
        text-decoration: none;
        font-family: "B612";
        font-weight: 400;
        font-size: 1.5rem;
        display: flex;
        align-items: center; }
        .navbar ul li a:visited {
          color: #ECECEC; }
      .navbar ul li:hover {
        background-color: #a61e4d;
        color: #e67700;
        transition: all .2s; }

.create-quiz {
  display: grid;
  grid-template-columns: 3rem [full-start] 1fr [mid] 1fr [full-end] 3rem;
  grid-template-rows: 7rem 1fr; }
  .create-quiz__details {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    border-radius: 0 0 2rem 2rem;
    align-self: stretch;
    display: flex; }
    .create-quiz__details p, .create-quiz__details input, .create-quiz__details button {
      align-self: center; }
  .create-quiz__create-question-form {
    grid-column: full-start / mid;
    grid-row: 2;
    margin: 2.5rem 1rem 2.5rem 0; }
  .create-quiz__quiz-preview {
    grid-column: mid / full-end;
    grid-row: 2;
    margin: 2.5rem 0 2.5rem 1rem;
    border-radius: 2rem; }
    .create-quiz__quiz-preview h3 {
      color: #087f5b;
      font-family: "B612";
      font-weight: 100;
      font-size: 2rem;
      padding: 3rem 0 .4rem 3rem; }

.question-builder {
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  height: 80vh;
  border: #c6c6c6 0.1rem solid; }
  .question-builder h3 {
    color: #087f5b;
    font-family: "B612";
    font-weight: 100;
    font-size: 2rem;
    padding: 3rem 0 .4rem 3rem; }
  .question-builder .submit {
    border: none;
    transition: all .2s;
    padding: 1.5rem;
    font-size: 2rem;
    margin: 2rem auto;
    grid-column: 2 / -2;
    width: 60%; }
  .question-builder a {
    display: block;
    background-color: #087f5b;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 2rem;
    width: 60%;
    margin: 0 auto 2rem;
    border: none;
    transition: all .2s;
    border-radius: 1rem;
    text-align: center; }
    .question-builder a:visited, .question-builder a:active, .question-builder a:link {
      color: #ECECEC;
      text-decoration: none; }
    .question-builder a:hover {
      background-color: #5c940d; }

.quiz-card {
  display: block;
  border: solid 1px #b1dbf7;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #ECECEC;
  padding: 2rem;
  width: 70%;
  margin: 2rem auto;
  background-color: rgba(255, 169, 77, 0.8);
  text-decoration: none;
  transition: all 0.2s; }
  .quiz-card:hover {
    transform: scale(1.03); }
  .quiz-card h3 {
    font-family: "B612";
    font-size: 2rem;
    padding-bottom: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #087f5b; }
  .quiz-card p {
    font-family: "B612";
    font-size: 1.5rem;
    padding-bottom: .3rem;
    letter-spacing: .1rem;
    color: #333; }

.quiz-list .choose-quiz-text {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  color: #087f5b; }

.view-quiz {
  margin: 3rem;
  border: 0.1rem solid #ECECEC;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem; }
  .view-quiz .quiz-question {
    border: 0.1rem solid #ECECEC;
    margin: 2rem;
    display: flex;
    background-color: #f9f9f9;
    border-radius: 0.5rem; }
    .view-quiz .quiz-question .question-number {
      padding-top: 1.4rem;
      padding-left: 2rem;
      font-size: 6rem;
      color: #b9b9b9; }
  .view-quiz .submit {
    border: none;
    transition: all .2s;
    padding: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2rem;
    height: 2rem; }

.multiple-choice-preview {
  margin: 2rem 3rem; }
  .multiple-choice-preview__question {
    padding-bottom: 1rem; }
  .multiple-choice-preview__options {
    padding-bottom: 1rem; }
    .multiple-choice-preview__options .radio-button {
      border: .1rem solid black;
      padding: 0 1.1rem;
      width: 1rem;
      height: 0.5rem;
      border-radius: 50%; }
    .multiple-choice-preview__options input[type="radio"] {
      padding-right: 1rem; }
      .multiple-choice-preview__options input[type="radio"]:checked + .radio-button {
        border: 1rem solid red; }
    .multiple-choice-preview__options label {
      padding-left: 1rem; }

.create-quiz__quiz-preview {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.1rem solid #c6c6c6; }

.score-report {
  font-family: "Kalam";
  background-color: #F5E5C9;
  box-shadow: 0.5rem 1rem 0.5rem 0.3rem #ECECEC;
  width: 50%;
  padding: 0 3rem;
  margin: 0 auto 3rem auto; }
  .score-report__title {
    font-size: 3rem;
    padding-top: 2rem; }
  .score-report__score {
    font-family: "Kalam"; }
  .score-report div {
    padding: 2rem; }
  .score-report__correct-report {
    font-family: "Kalam";
    color: #5c940d;
    padding: .5rem; }
  .score-report__wrong-report {
    font-family: "Kalam";
    color: #a61e4d;
    padding: .5rem; }
