@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 80%; }

body {
  background: repeating-linear-gradient(45deg, #fdfefe, #fdfefe 10px, #e4f2fc 10px, #e4f2fc 20px); }

* {
  font-family: "B612"; }

.submit {
  border: none;
  transition: all .2s;
  background-color: #c92a2a;
  border-radius: 1rem;
  color: #ECECEC; }
  .submit:hover {
    background-color: #e67700;
    cursor: pointer; }

.add {
  border: none;
  transition: all .2s;
  background-color: #67a60f;
  color: #ECECEC;
  font-size: 1.5rem; }
  .add:hover {
    background-color: #5c940d;
    cursor: pointer; }

.remove {
  border: none;
  transition: all .2s;
  background-color: #e67700;
  color: #ECECEC;
  font-size: 1.5rem; }
  .remove:hover {
    background-color: #c92a2a;
    cursor: pointer; }

.question-builder__input {
  display: grid;
  grid-template-columns: 1fr 4fr 1rem 8fr 1fr 1fr 1fr;
  align-items: center;
  padding: .3rem; }
  .question-builder__input label {
    grid-column: 2 / 3;
    text-align: right; }
  .question-builder__input input {
    grid-column: 4 / -2;
    border: none;
    border-bottom: solid #5DA2D2 0.2rem;
    padding: .5rem;
    font-size: 1.4rem; }
    .question-builder__input input:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }
  .question-builder__input select {
    grid-column: 4 / -2;
    border: none;
    border-bottom: solid #5DA2D2 0.2rem;
    padding: .5rem;
    font-size: 1.4rem; }
    .question-builder__input select:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }

.question-builder__select {
  display: grid;
  grid-template-columns: 1fr 4fr 1rem 8fr 1fr 1fr 1fr;
  align-items: center;
  padding: .3rem; }
  .question-builder__select input {
    grid-column: 4 / -4;
    border: none;
    border-bottom: solid #5DA2D2 0.2rem;
    padding: .7rem; }
    .question-builder__select input:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }
  .question-builder__select label {
    grid-column: 2 / 3;
    text-align: right;
    font-size: 1.5rem; }
  .question-builder__select button {
    align-self: stretch; }

#create-quiz .modal-container {
  display: none; }

#details .modal {
  background-color: rgba(51, 51, 51, 0.5);
  height: 90vh;
  width: 100vw; }

.create-quiz__details {
  background-color: #b1dbf7;
  padding: 1rem 2.5rem 0; }
  .create-quiz__details p {
    display: inline-block;
    padding-right: 1rem;
    color: #333;
    font-size: 2rem;
    font-family: "B612"; }
  .create-quiz__details input {
    background-color: #b1dbf7;
    border: none;
    border-bottom: solid 0.2rem #5DA2D2;
    width: 67%;
    color: #2c6f9d;
    font-size: 2rem; }
    .create-quiz__details input:focus {
      border: none;
      border-bottom: solid #5c940d 0.3rem;
      outline: none;
      transition: all .2s; }

.navbar {
  background-color: #087f5b;
  text-decoration: none;
  position: sticky;
  height: 6rem;
  width: 100vw;
  display: flex; }
  .navbar .logo {
    margin-left: 50%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-50%);
    color: #ECECEC;
    font-family: "Patua One";
    font-size: 4rem; }
    .navbar .logo img {
      height: 100%; }
  .navbar ul {
    display: flex;
    margin-left: auto;
    align-items: stretch; }
    .navbar ul li {
      list-style: none;
      display: flex;
      align-items: stretch;
      margin-right: 3rem; }
      .navbar ul li a {
        padding: 0 3rem;
        text-decoration: none;
        font-family: "B612";
        font-weight: 400;
        font-size: 1.5rem;
        display: flex;
        align-items: center; }
        .navbar ul li a:visited {
          color: #ECECEC; }
      .navbar ul li:hover {
        background-color: #a61e4d;
        color: #e67700;
        transition: all .2s; }

.create-quiz {
  display: grid;
  grid-template-columns: 3rem [full-start] 1fr [mid] 1fr [full-end] 3rem;
  grid-template-rows: 4.8rem 1fr; }
  .create-quiz__details {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    border-radius: 0 0 2rem 2rem; }
  .create-quiz__create-question-form {
    grid-column: full-start / mid;
    grid-row: 2;
    margin: 2.5rem 1rem 0 0; }
  .create-quiz__quiz-preview {
    grid-column: mid / full-end;
    grid-row: 2;
    margin: 2.5rem 0 0 1rem; }

.question-builder {
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  border: #ECECEC 0.1rem solid; }
  .question-builder h3 {
    color: #087f5b;
    font-family: "B612";
    font-weight: 100;
    font-size: 2rem;
    padding: 3rem 0 .4rem 3rem; }
  .question-builder .submit {
    margin: 2rem auto;
    grid-column: 2 / -2;
    height: 3rem;
    width: 40rem; }

.quiz-card {
  display: block;
  border: solid 1px #b1dbf7;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #ECECEC;
  padding: 1.2rem;
  margin: 1rem;
  background-image: linear-gradient(to bottom, rgba(92, 148, 13, 0.5), rgba(103, 166, 15, 0.3)), url(https://st2.depositphotos.com/1785475/7603/v/950/depositphotos_76031891-stock-illustration-cube-light-pattern-background-vector.jpg);
  background-size: 10%;
  text-decoration: none; }
  .quiz-card h3 {
    font-family: "B612";
    padding-bottom: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #a61e4d; }
  .quiz-card p {
    font-family: "B612";
    padding-bottom: .3rem;
    letter-spacing: .1rem;
    color: #4d4d4d; }

.quiz-list {
  margin: 8rem 0; }

.do-quiz {
  margin: 3rem;
  border: .1rem solid black;
  font-size: 1.8rem; }
  .do-quiz .quiz-question {
    border: .1rem solid black;
    padding: 2rem;
    margin: 2rem;
    display: flex; }
    .do-quiz .quiz-question .question-number {
      padding-right: 1rem;
      font-size: 6rem;
      color: #b9b9b9; }

.multiple-choice-preview__question {
  padding-bottom: 1rem; }

.multiple-choice-preview__options {
  padding-bottom: 1rem; }
  .multiple-choice-preview__options .radio-button {
    border: .1rem solid black;
    padding: 0 1.1rem;
    border-radius: 50%; }
  .multiple-choice-preview__options input[type="radio"] {
    padding-right: 1rem; }
    .multiple-choice-preview__options input[type="radio"]:checked + .radio-button {
      border: 1rem solid red; }
  .multiple-choice-preview__options label {
    padding-left: 1rem; }

.create-quiz__quiz-preview {
  background-color: rgba(255, 255, 255, 0.8);
  border: .1rem solid black; }
