// COLORS
  // main colors
  $color-primary: #5DA2D2;
  $color-secondary: #b1dbf7;

  // text colors
  $color-text-light: #ECECEC;
  $color-text-dark: #333;

  // Accent colors
  $color-tertiary: #F3D250;
  $color-alert: #F78888;

  // button colors
  $color-warm-light: #e67700;
  $color-warm-mid: #c92a2a;
  $color-warm-dark: #a61e4d;

  $color-cool-light: #67a60f;
  $color-cool-mid: #5c940d;
  $color-cool-dark: #087f5b;

// // Main colors
// $color-primary: #2998ff;
// $color-secondary: #5643fa;


